*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
}
h2{
    text-align: center;
}
.content{ /* The whole website */
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    min-height: 100vh;
    background-color: rgb(218, 218, 218);
    position: fixed;
}






/* Home page */

/* Overall display of the buttons */
.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;

    color: whitesmoke;
    background-color: var(--bs-dark);
    width: 650px;
    height: 650px;
    border-radius: 5%;
    border: 4px solid whitesmoke;
    box-shadow: -22px 22px 12px rgba(0,0,0,0.3);
}


/* Title */
.buttons h3{
    color: whitesmoke;
    font-size: 40px;
    text-align: center;
}
.buttons h4{
    font-size: 20px;
}


/* Username and Join */
.enterUsername,
.join{
    width: 95%;
}
.enterUsername label,
.join label{
    font-size: 26px;
}


/* Error Message */
#ErrorMessage{
    margin-top: 20px;
}


/* Display Icon Choices */
.iconContainer label{
    font-size: 26px;
}
[type=radio]{ /* Hide the radio*/
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
[type=radio] + img{
    outline: 4px solid var(--bs-warning);
    cursor: pointer;
}
[type=radio]:checked + img{
    outline: 6px solid var(--bs-info);
}
.iconContainer img{
    width: 65px;
    height: 65px;
    object-fit: cover;
    border-radius: 25%;
    margin-left: 5px;
}
.iconContainer .radioIcons{
    display: flex;
    flex-direction: row;
    gap: 6px;
    margin-top: 10px;
    margin-bottom: 4.2px;
}
.iconContainer{
    width: 95%;
}

#radioIcons, #UploadFile{
    display: none;
}


/* Upload custom images */
.UploadFile{
    margin-top: 10px;
}
.UploadFile label{
    margin-left: 7px;
}
.UploadFile input{
    margin-left: -5px;
}

.UploadFile .CustomImage{
    width: 48px;
    height: 48px;
    background-image: url('/static/css/Default.png');
    background-size: cover;
    background-position: center;
    object-fit: cover;
    border-radius: 25%;
    margin-left: 5px;
    outline: 4px solid var(--bs-warning);
    display: inline-block;
    margin-bottom: 10px;
}










/* Chat Room CSS */

/* The whole chat */
.message-box{ 
    border-color: white;
    border-width: 4px;
    border-style: solid;
    border-radius: 10px;
    background-color: var(--bs-dark);
    height: 80vh;
    display: flex;
    flex-direction: column;
    width: 80vw;
    align-items: stretch;
    box-shadow: -22px 22px 12px rgba(0,0,0,0.3);
}


/* Display Chat Information */
.message-box h2{
    color: whitesmoke;
    padding: 25px;
    border: 25px solid var(--bs-warning);
    border-radius: 5px;
}


/* Display number of members currently in room */
.message-box h2 .Members{
    font-size: 18px;
    display: flex;
    justify-content: center;
    color: var(--bs-warning);
}
.message-box h2 .memberCount{
    display: block;
    margin-left: 5px;
}
/* User Icon */
.message-box h2 .YouIcon{
    display: grid;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.message-box h2 img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 25%;
    border: 4px solid var(--bs-info);
}


/* Leave Button */
.message-box a button{
    width: 100%;
    font-size: 25px;
    border-radius: 5px;
}


/* Show messages */
.messages{
    overflow-y: scroll; /*Can scroll messages*/
    flex: 1;
    width: 100%;
}


/* Text input */
.inputs{
    padding-bottom: 10px;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 8px;
    display: flex;
}
.inputs input{
    margin-right: 8px;
}
#message{
    flex: 1;
}


/* Send button */
.inputs button{
    font-size: 25px;
    width: 12%;
    line-height: 5px;
}



/* Text */
.text{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    padding: 10px;
    box-shadow: -5px 5px 3px rgba(0,0,0,0.3);
}
/* Chat bubble styles! */
.text img{
    position: relative;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 25%;
    top: 10px;
    border: 2px solid var(--bs-warning);
}
/* Display Time of the message sent */
.muted{
    position: relative;
    font-size: 10px;
    color: rgb(221, 221, 221);
    bottom: 6px;
}
/* For Messages in general */
.text .msg{ 
    position: relative;
    font-size: 21px;
}

/* System Message specific */
.text .msgSystem{
    font-size: 20px;
}

.text p{
    position: relative;
    bottom: 10px;
    font-size: 14px;
    padding-left: 60px;
}


/* User messages */
.text .userMessagesDisplay{
    width: 100%; 
    white-space: normal;
    word-break: break-word;
    color: whitesmoke;
    border: 3px solid var(--bs-info);
    height: 100%;
    padding: 10px;
    border-radius: 5px;
}

/* Other messages */
.text .userMessagesDisplayOther{
    width: 100%; 
    white-space: normal;
    word-break: break-word;
    color: whitesmoke;
    border: 3px solid var(--bs-warning);
    height: 100%;
    padding: 10px;
    border-radius: 5px;
}

/* System messages */
.text .userMessagesDisplaySystem{
    width: 100%; 
    white-space: normal;
    word-break: break-word;
    color: whitesmoke;
    border: 3px solid var(--bs-warning);
    height: 100%;
    padding: 10px;
    border-radius: 5px;
}