{% extends 'index.html' %}
{% block content %} 
<!--Home Page Form-->
<form method="POST" class="buttons" enctype="multipart/form-data">

    <!--Title-->
    <h3>Welcome to BubbleChat</h3>
    <h4>Get Started Below!</h4>


    
    <!--Enter a name-->
    <div class="enterUsername">
        <label>Username:</label>
        <br>
        <input type="text" placeholder="Enter your Name" name="name" value="{{name}}" minlength="2" maxlength="10" required />
    </div>



    <!--Profile Icon Options-->
    <div class="iconContainer">
        <div class="ChooseIcon">
            <label for="ChooseIcon">Profile Icon Options:<br>
                <select id="ChooseIcon" name="ChooseIcon" autocomplete="off" onchange="dropDown();" required>
                    <option value="" value='none'>-------(Select One)-------</option>
                    <option value="DefaultIcons">Choose Icons</option>
                    <option value="UploadIcon">Upload Custom Icon</option>
                </select>
            </label>
        </div>
        <!--First Option-->
        <div class="radioIcons" id="radioIcons">
            <label for="Icon1">
                <input type="radio" name="ProfileIcon" id="Icon1" value="Icon1">
                <img src="/static/css/Icon1.png" alt="IconPicture" draggable="false">
            </label>
            
            <label for="Icon2">
                <input type="radio" name="ProfileIcon" id="Icon2" value="Icon2">
                <img src="/static/css/Icon2.jpg" alt="IconPicture" draggable="false">
            </label>

            <label for="Icon3">
                <input type="radio" name="ProfileIcon" id="Icon3" value="Icon3">
                <img src="/static/css/Icon3.gif" alt="IconPicture" draggable="false">
            </label>

            <label for="Icon4">
                <input type="radio" name="ProfileIcon" id="Icon4" value="Icon4">
                <img src="/static/css/Icon4.gif" alt="IconPicture" draggable="false">
            </label>
        </div>
        <!--Second Option-->
        <div class="UploadFile" id="UploadFile">
            <div class="CustomImage" id="CustomImage"></div> <!--Display the custom icon the user uploaded-->
            <label for="Icon5">
                <input type="file" name="ProfileIcon" id="Icon5" value="Icon5" accept=".png, .jpg, .gif" onchange="encodeImageAsURL(this)" />
            </label>
        </div>
    </div>



    <!--Enter Room Code-->
    <div class="join">
        <label>Enter the Room Code:</label>
        <br>
        <input type="text" placeholder="Room Code" name="code" value="{{code}}" />
        <br>

        <br>
        <button type="submit" name="join">Join Room</button>
        <br>
    </div>


    <h2>Or</h2>


    <!--Create Room-->
    <button type="submit" name="create" class="create-btn">Create Room</button>



    <!--Error Message-->
    {% if error %}
        <div class="ErrorMessage">Error: {{error}}</div>
    {% endif %}





    <!--JavaScript code for home.html-->
    <script type="text/javascript">
        //Reset the messageOrder/Initialize the messageOrder everytime the user visit home.html.
        //Also use this variable in room.html
        let messageOrder = [];
        localStorage.setItem("messageInOrder", JSON.stringify(messageOrder));


        //Reads in custom images uploaded by user and display on screen for the home page as preview
        const image_input = document.querySelector("#Icon5");
        var uploaded_image = "";

        image_input.addEventListener("change", function(){
            const reader = new FileReader();
            reader.addEventListener("load", () => {
                uploaded_image = reader.result;
                //Display image using url(${uploaded_image})
                document.querySelector("#CustomImage").style.backgroundImage = `url(${uploaded_image})`;
                document.querySelector("#CustomImage").style.outline = `4px solid rgb(0, 208, 255)`;
            });
            reader.readAsDataURL(this.files[0]);
        });

        //Experiment for encoding custom images
        function encodeImageAsURL(element){
            console.log(element);
            var ImgFile = element.files[0];
            var reader = new FileReader();
            // reader.onloadend = function() {
            //     console.log('RESULT', reader.result);
            // }
            reader.readAsDataURL(ImgFile);
        }



        //Drop down for Icons Options
        function dropDown(){
            var IconOptions = document.getElementById("ChooseIcon");
            var value = IconOptions.options[IconOptions.selectedIndex].value;

            //console.log("Value: "+value);
            if (value === "DefaultIcons"){ //Given Icons for the user
                document.getElementById("radioIcons").style.display = 'block'; //Show Icons given
                document.getElementById("UploadFile").style.display = 'none'; //Hide the Upload Icon
                //console.log("DefaultIcons");

                //Reset to default on the second option when this option is chosen
                document.querySelector('#Icon5').value = '';
                document.querySelector("#CustomImage").style.backgroundImage = `url(/static/css/Default.png)`;
            }else if (value === "UploadIcon"){ //Upload your own Icon
                document.getElementById("radioIcons").style.display = 'none'; //Hide the first option
                document.getElementById("UploadFile").style.display = 'block'; //Show the second option
                //console.log("Upload");

                //Reset the first option if this option is chosen
                document.querySelector('input[name=ProfileIcon]:checked').checked = false;
            }else{ //Default
                //Shoe none of them if none of them are selected. This is defaulted when the page first loads
                document.getElementById("radioIcons").style.display = 'none';
                document.getElementById("UploadFile").style.display = 'none';
                //console.log("none");
                
                document.querySelector('#Icon5').value = '';
                document.querySelector("#CustomImage").style.backgroundImage = `url(/static/css/Default.png)`;
                document.querySelector('input[name=ProfileIcon]:checked').checked = false;
            }
        }
    </script>


</form>
{% endblock %}